<header  id="seccionInicio">


 <nav  class="navbar navbar-expand-lg navbar-light bg-light estatico efecto-color-variable">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <li style="font-weight: bold; color: rgb(174, 215, 248);" class="navbar-brand" alt="">Telpronet</li>
               <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li  class="nav-item active">
                     <a class="nav-link" href="#seccionInicio">Inicio <span class="sr-only">(current)</span></a>
                  </li>
                   <li sclass="nav-item">
                     <a class="nav-link"  href="#seccionNosotros">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#seccionServicios">Servicios</a>
                  </li>
                   <li class="nav-item">
                     <a class="nav-link" href="#seccionSpeedTest ">SpeedTest</a>
                  </li>
                   <li class="nav-item">
                     <a class="nav-link" href="#seccionContacto">Contacto</a>
                 </li>
               </ul>
          </div>
        </nav> 

        <div style="position: relative;">
            <div style="overflow: hidden;">  
                 <img class="img-bg-cabecera"  src="/assets/images/tel3.jpg" alt="">
            </div>  
            <img class="img-cabecera" src="/assets/images/tel6.png" alt="">
        </div>
</header> 

      <section id="seccionNosotros" class="d-flex justify-content-center espacio-secciones">
        <div >
            <header class="seccion-contenedor">
                <h1 class="title">Nosotros</h1> 
                <h2 class="sub-title">Sé parte de lo que hacemos</h2>
            </header>
            <div class="container">
              <div class="row">
                 <div class="col-sm-12">
                    <div class="caja">
                        <h3>¿Quiénes Somos?</h3>
                           <p >
                           TELPRONET es una empresa de Telecomunicaciones que se desarrolla en forma armónica y sustentable encargándose de Proveer de servicio de Internet a las tecnologías presentes, siendo este domiciliario o corporativo, pudiendo acceder de forma ilimitada desde la comodidad de su domicilio, negocio o empresa a todo tipo de información disponible de manera global.
                           La experiencia que nos caracteriza en la prestación de este servicio nos ha permitido en poco tiempo posicionarnos en la zona centro (norte) de la región interandina como uno de los proveedores de internet más prometedores.
                           Acudiendo al Publico solicitante con personal altamente calificado para brindar un servicio acorde a las necesidades de nuestros usuarios, comprometidos al desarrollo de la empresa y de la sociedad, orientados a superar los inconvenientes que en el desarrollo se puedan presentar. 
            
                           </p>
                      </div>
                </div>
               </div>
          </div>
          <br>
          <div class="container">
            <div class="row">
               <div class=" col-sm-12 col-md-12 col-lg-6 ">
                  <div class="caja-mision-vision">
                  <h3>Misión</h3>
                   <p >
                    Ser una empresa comprometida a brindar un servicio de calidad con tecnología de punta y en constante innovación, cimentada en valores y principios que a más de proveer de internet acude con prontas soluciones a las necesidades que pueda presentar el cliente, acompañadas de excelente atención y precios competitivos al público general. Garantizando el desarrollo de las personas que hacen del internet un medio de progreso intelectual, laboral y económico, siendo éste nuestro aporte para la sociedad.  
                   </p>
                  </div>
              </div>
               <div class=" col-sm-12 col-md-12 col-lg-6 ">
                  <div class="caja-mision-vision">
                  <h3>Visión</h3>
                   <p >
                    Ser la mejor opción entre los proveedores de internet a nivel local, ganando reconocimientos por brindar un servicio de excelencia con alta responsabilidad y calidad humana, con los mejores precios del mercado; a la vez, cada día más comprometidos con el desarrollo integral de nuestro equipo de trabajo maximizando así la satisfacción del cliente que nos abre la puerta de su domicilio o empresa.
                 </p>
               </div>
               </div>
             </div>
        </div>
      </div>
    </section>

    <section id="seccionServicios" class="d-flex justify-content-center espacio-secciones">
      <div >
          <header class="seccion-contenedor">
              <h1 class="title">Servicios</h1> 
              <h2 class="sub-title">Te ofrecemos los mejores servicios</h2>
          </header>
              <div class="container">
                  <div class="espacio-secciones-planes">
                     <h4>Plan de Radioenlace</h4>
                     <p>
                        Te ofrecemos planes cómodos, accesibles y con el mejor precio
                     </p>
                     <div class="container">
               
                           <img  class="img-display" src="/assets/images/plan1.png" alt="">
               
                           <img class="img-display"  src="/assets/images/plan2.png" alt="">
                     
                           <img class="img-display"  src="/assets/images/plan3.png" alt="">
                  
                     </div>
                  </div>
               </div> 
       </div>
  </section>


  <section id="seccionSpeedTest" class="d-flex justify-content-center espacio-secciones">
     <div class="container">
            <div class="row">
                <div class="col-sm-12">
                     <header class="seccion-contenedor">
                        <h1 class="title">SpeedTest</h1> 
                        <h2 class="sub-title">Verifica la velocidad de tu internet</h2>
                     </header>
                     <div class="text-center">
                        <iframe style="border: #fff;" class="no-repeat speedtest col-sm-12" src="https://fast.com/es/"></iframe>
                     </div>
               </div>
            </div>
    </div>  
 </section>

   <section id="seccionContacto" class="d-flex justify-content-center espacio-secciones">
       <footer class="pie-pagina">
          <div class="container text-white">
          <br>
             <div class="row">
                  <div class="col">
                    <h4>Contacto</h4>
                    <br>
                    <p>Dirección: Jácome Clavijo y Acosta Solis (esquina)
                          <br>Ambato-Ecuador
                          <br>
                          <br> 
                          <img style="width: 40px; height: 40px;" src="/assets/images/wp.png" alt="">
                          Teléfono: +593995272571
                          <br>
                          <br> eMail: telpronet@hotmail.com
                          <br>
                          <br>
                          <a  target=”_blank” href="https://m.facebook.com/Telpronet/">
                           <img style="width: 60px; height: 60px;" src="/assets/images/fb.png" alt="">
                          </a>
                    </p>
                  </div>
                  <div class="col">
                      <img class="img-pie" src="/assets/images/tel6.png" alt="">
                  </div>
              </div>
           </div>
       </footer>
    </section>



